@model Department
@{
	ViewData["Title"] = "Create";
}
<h1> Create New Department</h1>
<br />
<br />
<form asp-action="Create">
	<div class="form-group">
		<label class="col-form-label" asp-for="code"></label>
		<input type="text" asp-for="code" class="form-control"/>
		<span asp-validation-for="code" class="text-danger"> </span>
	</div>
	<div class="form-group">
		<label class="col-form-label" asp-for="name"></label>
		<input type="text" asp-for="name" class="form-control" />
		<span asp-validation-for="name" class="text-danger"> </span>
	</div>
	<div class="form-group">
		<label class="col-form-label" asp-for="creatAt"></label>
		<input type="text" asp-for="creatAt" class="form-control" />
		
	</div>
	<div>
		@Html.ValidationSummary(true,"","Error while Adding Department");
	</div>
	<input type="submit"  value="Create" class="btn btn-primary" />
	<a asp-action="Index" class="btn btn-light"> Back To list</a>
</form>
